# Ignore node_modules directories
node_modules/
client/node_modules/
server/node_modules/

# Ignore logs
logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore environment variables
.env

# Ignore build output
client/build
server/dist

# Ignore IDE settings
.vscode/
.idea/
*.swp

# testing
client//coverage


# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*